.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(39, 39, 39);
  color: #CDD3DE;
}

.hljs-comment,
.hljs-quote {
  color: #49656f;
}

.hljs-selector-tag,
.hljs-addition {
  color: #ff5370;
}

.hljs-keyword {
  color: #c792ea;
}

.hljs-meta .hljs-meta-string,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

.hljs-literal {
  color: #F77669;
}

.hljs-number {
  color: #F77669;
}

.hljs-string {
  color: #C3E88D;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #82AAFF;
}

.hljs-built_in {
  color: #ffcb6b;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #80CBC4;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
